<form action="/" method="post">
  <label for="user-word">Input your word.</label>
  <input type="text" name="user-word">
  <label for="user-list">Input your potential anagrams</label>
  <input type="text" name="user-list">
  <button type="submit" name="button">Submit</button>
</form>

<h1>Your anagrams are: @Model</h1>
